.about_container {
  h1 {
  text-align: left;
  font-weight: 200;
  }
  padding: 140px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: justify;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  height: calc(100vh - 250px);
}



