a {
  text-decoration: none;
  color: black;
}

  .container {
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-bottom: solid gray .2px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;

    .logo {
      font-size: 58px;
      transition: .5s ease-in-out;
      font-weight: 300;
      margin-left: -10px;
      padding-top: 10px;
      margin-bottom: 0px;
      width: 200px;
      a {
        color: #333;
      }
    }

    .logo:hover {
      transform: scale(1.1);

    }

    .menuBtn {
      width: 18px;
      height: 18px;
      position: fixed;
      top: 38px;
      right: 50px;

      .svg {
        width: 2em;
        opacity: .5;
      }
    }

    .menuBtn:hover ~ .mainNav {
      display: block;
      right: -20px;

    }

    .mainNav {
      font-size: 20px;
      border-left: solid gray 1px;
      color: black;
      text-align: center;
      padding: 20px 0px 0px 0px;
      position: fixed;
      width: 250px;
      height: 100vh;
      background-color: white;
      top: 0;
      right: -330px;
      margin: 0;
      list-style: none;
      text-transform: uppercase;
      box-sizing: border-box;
      transition: .5s ease-in-out;

      hr {
        width: 100%;
        color: gray;
      }

      li {
        padding: 20px 0px  56px 19px;
        height: 25px;
        box-sizing: border-box;
        margin-right: 40px;
        transition: .17s ease-in-out;
      }
      .menu {
        color: #333;
        padding: 26px 0px 44px 19px;
        font-weight: 300;
      }

      a {
        display: block;
        margin: 0;
        font-weight: 200;
        opacity: 1;
      }
    }

    .mainNav li a:hover {
      color: #333;
    }
    .mainNav:hover {
      display: block;
      right: -20px;
      color: gray;
    }
  }

@media (min-width: 657px) {
  .container {
    text-align: left;
    padding-left: 5%;

    .mainNav {
      background-color: rgba(250,250,250,0.7);

      hr {
        display: none;
      }

      li {
        padding: 50px 0px  56px 19px;
      }
    }
  }
}
