a {
  text-decoration: none;
  color: black;
}

.container {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  width: 95%;
  position: fixed;
  top: 0;
  left: 0;

  .logo {
    color: black;
    font-size: 58px;
    transition: .5s ease-in-out;
    font-weight: 300;
  }

  .logo:hover {
    transform: scale(1.1);

  }

  .mainNav {
    color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    box-sizing: border-box;

    li {
      height: 25px;
      box-sizing: border-box;
      margin-right: 40px;
      transition: .17s ease-in-out;
    }

    a {
      display: block;
      margin: 0;
    }
  }

  .mainNav li:hover {
    border-bottom: 1px solid black;
  }
}

@media (min-width: 769px) {
  .container,
  .mainNav {
    display: flex;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 57px;
    padding-right: 100px;
  }
}