.container {
  padding-top: 100px;
  padding-left: 50px;

  .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;

    h2 {
      font-weight: 200;
    }
  }

  .explain {
    font-size: 18px;
    text-align: center;
    padding-bottom: 120px;
  }

  .form {
    text-align: left;
  }

.flexContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-bottom: 250px;

    input[type=text], select {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      width: 360px;
      padding: 12px 20px;
      margin: 0;
      border: 1px solid #3acec2;
      outline-color: #3acec2;
      text-align: center;
      margin-right: 10px;
      margin-bottom: 20px;

    }

      input[type=submit], select {
      font-family: 'Montserrat', sans-serif;
      border-radius: 4px;
      background-color: white;
      border: solid #aba6ab 1px;
      font-size: 19px;
      font-weight: 200;
      padding: 9px 10px;
      text-decoration: none;
      cursor: pointer;
      box-shadow: 0px 1px 1px #EEE;
     }

    input[type=submit]:hover {
         background: #3acec2;
        color: black;
        text-decoration: none;

    }
    .chart {
      display: flex;
    }

    .button {
      text-align: center;
      margin-right: 10px;
      border-radius: 4px;
      background-color: #ffffff;
      color: #6b696b;
      border: solid white 1px;
      font-size: 18px;
      font-weight: 200;
      padding: 8px 20px 10px 20px;
      border: solid #aba6ab 1px;
      text-decoration: none;
      cursor: pointer;
      box-shadow: 0px 1px 1px #EEE;
    }

    .urlButtons{
      font-family: 'Montserrat', sans-serif;
      padding-top: 4px;
      padding-bottom: 20px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;

    h3 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      padding-bottom: 40px;
    }

    .info1 {
      border-bottom: 1px solid #cfcfd1;
      padding-bottom: 80px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;

    }

    .info2 {
      border-bottom: 1px solid #cfcfd1;
      padding-bottom: 80px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
    }

    .info3 {
      border-bottom: 1px solid #cfcfd1;
      padding-bottom: 80px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
    }

    .imgContainer {
      text-align: center;
    }
    .img {
      width: 1300px;
      height: 500px;
      align-content: center;
    }
  }

}




