
.banner {
  color: #fff;
  background: #3acec2;
  padding: 8em 2em 7em 2em;
  text-align: center;

  .container{
    margin-bottom: 46px;
    .headline {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 2.5rem;
      margin-bottom: 20px;
      margin-top: 26px;
      // font-size: 45px;
    }

    .tagline {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: .9rem;
      font-weight: 200;
    }
  }

  .btn {
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    color: white;
    border: solid white 1px;
    font-size: 23px;
    font-weight: 200;
    padding: 10px 10px;
    text-decoration: none;
  }

  .btn:hover {
    background: white;
    color: black;
    text-decoration: none;
  }

  .btn:focus {
    outline: none;
  }
}

.imgContainer {
  margin-top: 40px;

  .newsExplain {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
  }

  .newsLogos{
    display: block;
    margin: auto;
    width: 85%;
    margin-bottom: 60px;
  }
}

.rowContainer {
  text-align: center;
  width: 80%;
  margin: auto;
  .row {
    margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 17px;
    h2 {
      font-weight: 300;
      text-align: center;
    }

    .primary {
      text-align: justify;
    }

    .secondary{
      .screenshot{
        text-align: center;
        margin: auto;
        border: 1px solid black;
        width: 300px;
        height: 160px;

        .neo4jgif {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


@media (min-width: 667px) {
  .banner {
    padding: 12em 8em 9em 8em;
  }

  .row {
    display: flex;
  }

  .col {
    flex: 1;
  }
}

@media (min-width: 1025px) {
  .banner {
    padding: 12em 8em 9em 8em;
  }

  .primary {
    flex:2;
  }

}