.header {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-left: 100px;
}


  .flex_container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;

    .text1{
      flex: 0 0 100%;
    }

     .text2{
      flex: 0 0 100%;
    }
    .text3{
      flex: 0 0 100%;
    }
  }



