
a {
  text-decoration: none;
  color: black;
}

.container {
  padding-top: 2em;
  padding-bottom: .5em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;

  .logo {
    color: black;
    font-size: 50px;
    transition: .5s ease-in-out;
  }

  .logo:hover {
    transform: scale(1.1);

  }

  .mainNav {
    color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    box-sizing: border-box;

    li {
      height: 25px;
      box-sizing: border-box;
      margin-right: 40px;
      transition: .17s ease-in-out;
    }


    a {
      display: block;
      margin: 0;
    }
  }

  .mainNav li:hover {
    border-bottom: 3px solid #3acec2;
  }
}

@media (min-width: 769px) {

  .container,
  .mainNav {
    display: flex;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

}

@media (min-width: 1025px) {

  .container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
}